* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#menu-container {
    width: 100%;
    display: block;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
    width: 100%;
    position: relative;
    clear: both;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        background-color: #1c1c1c;
        padding: 2rem;
        z-index: 1000;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav.visible::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 250px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999;
        pointer-events: auto;
    }


    body.nav-open {
        overflow: hidden;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ececec;
    }
}