.preview-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
}

.preview-grid img {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.state-container {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.crop-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 130px;
  padding: 10px;
  border-radius: 8px;
}

.crop-grid img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.crop-grid.good {
  background-color: rgba(0, 255, 0, 0.05);
  border: 2px solid green;
}

.crop-grid.bad {
  background-color: rgba(255, 0, 0, 0.05);
  border: 2px solid red;
}
