<widget id="com.tudominio.miapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MiApp</name>
    <description>Una app increíble</description>
    <author email="team@tudominio.com" href="https://tudominio.com">
        Tu Equipo
    </author>
    <content src="lotes.html" />
    <access origin="*" /> <!--sustituir posteriormente por el dominio correspondiente-->
    <allow-intent href="http://*/*" /><!--Permite http sin un canal seguro, eliminar posteriormente-->
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="android-minSdkVersion" value="23" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
    </platform>
</widget>

